// <%= config[:theme_info] %>
// Bootswatch
// base.less
// allows access to core variables and mixins inside bootswatch.css.less

// @import "twitter/bootstrap/variables";
@import "<%= config[:theme_name] %>/variables";

// @import "twitter/bootstrap/mixins";
@import "<%= config[:theme_name] %>/mixins";
