// <%= config[:theme_info] %>
// Bootswatch
// base.less
// allows access to less variables in bootswatch.less
@import "twitter/bootstrap/variables";
@import "<%= config[:theme_name] %>/variables";
@import "twitter/bootstrap/mixins";
@import "<%= config[:theme_name] %>/mixins";
