// <%= config[:theme_info] %>
// Bootswatch
// loader.js

<%
js_files = %w[} bootstrap: { src: [ transition alert button carousel collapse dropdown modal tooltip popover]

js_files.each do |js_file|
%>//= require twitter/bootstrap/<%= js_file %>
<% end %>