// <%= config[:theme_info] %>
// Bootswatch
// loader.css.less
// Customize the modules loaded here

<%
config[:less_imports].map{|item| item.gsub(/.less/, '')}.each do |less_file|
case less_file
when /(variables|mixins)/ then
%>// @import "twitter/bootstrap/<%= less_file %>";
@import "<%= config[:theme_name] %>/<%= less_file %>";

<%
else
%>@import "twitter/bootstrap/<%= less_file %>";
<%
end
end
%>

// @import "twitter/bootstrap/theme";