# <%= config[:theme_info] %>
# Bootswatch
# loader.coffee

<%
js_files = %w[
bootstrap-transition
bootstrap-alert
bootstrap-button
bootstrap-carousel
bootstrap-collapse
bootstrap-dropdown
bootstrap-modal
bootstrap-tooltip
bootstrap-popover
bootstrap-scrollspy
bootstrap-tab
bootstrap-typeahead
bootstrap-affix]

js_files.each do |js_file|
%>#= require twitter/bootstrap/<%= js_file %>
<% end %>
