= form_for @<%= resource_name %> do |f|
  <%- columns.each do |column| -%>
  .form-group
    = f.label :<%= column.name %>, :class => 'control-label'
    = f.<%= column.field_type %> :<%= column.name %>, :class => 'form-control'
  <%- end -%>
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    | &#xA0;
    = link_to t('.cancel', :default => t("helpers.links.cancel")), <%= controller_routing_path %>_path, :class => 'btn'
